<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    version="1.0.0.0" id="HelloWorldApp">   
   <preference name="phonegap-version" value="2.7.0" />
    <name>helloWorld</name> 
    <author>My name</author>
    <description>The classic first program</description>
    <icon src="images/icon.png"/>
    <content src="index.html"/> 

</widget>
